body {background-color: #F0131E;}

header {
    background-color: #FFFFFF;
}

p {
font-family: 'Dela Gothic One', cursive;
} 

h1 {
font-family: 'Dela Gothic One', cursive;
}

div {
font-family: 'Dela Gothic One', cursive;
}

footer {
background-color: #FFFFFF;
}